#
{% if ansible_distribution == "Amazon" %}
Protocols h2 http/1.1
{% endif %}
Listen {{ httpd_https_port }} https
SSLPassPhraseDialog exec:/usr/libexec/httpd-ssl-pass-dialog
SSLSessionCache         shmcb:/run/httpd/sslcache(512000)
SSLSessionCacheTimeout  300
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
#SSLRandomSeed startup file:/dev/random  512
#SSLRandomSeed connect file:/dev/random  512
#SSLRandomSeed connect file:/dev/urandom 512
SSLCryptoDevice builtin
#SSLCryptoDevice ubsec

<VirtualHost _default_:{{ httpd_https_port }}>
DocumentRoot {{ httpd_DocumentRoot_Directory }}
ServerName {{ httpd_ServerName }}
SuexecUserGroup {{ httpd_SuexecUser }} {{ httpd_SuexecGroup }}
ErrorLog logs/error_log
LogFormat "{{ httpd_Log_combined_Format }}"
TransferLog {{ httpd_Log_combined_CustomLog }}
LogLevel warn
SSLEngine on
SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
#SSLCipherSuite RC4-SHA:AES128-SHA:HIGH:MEDIUM:!aNULL:!MD5
#SSLHonorCipherOrder on

SSLCertificateFile {{ httpd_https_SSLCertificateFile }}
SSLCertificateKeyFile {{ httpd_https_SSLCertificateKeyFile }}
#SSLCertificateChainFile /etc/pki/tls/certs/server-chain.crt
SSLCACertificateFile {{ httpd_https_SSLCACertificateFile }}

#SSLVerifyClient require
#SSLVerifyDepth  10

#SSLOptions +FakeBasicAuth +ExportCertData +StrictRequire
<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>

BrowserMatch "MSIE [2-5]" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0

CustomLog logs/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

{% if httpd_use_phpfpm_socket.enabled %}
<Proxy "{{ httpd_use_phpfpm_socket.proxy_url }}">
BalancerMember "{{ httpd_use_phpfpm_socket.balancer_member_url }}"
</Proxy>
<FilesMatch \.php$>
SetHandler "proxy:{{ httpd_use_phpfpm_socket.proxy_url }}"
</FilesMatch>
{% endif %}
</VirtualHost>

### Example
#
#<VirtualHost *:443>
#DocumentRoot /var/www/html
#ServerName localhost
#SuexecUserGroup root root
#SSLCertificateFile /etc/pki/tls/certs/localhost.crt
#SSLCertificateKeyFile /etc/pki/tls/private/localhost.key
##SSLCertificateChainFile /etc/pki/tls/certs/server-chain.crt
#SSLCACertificateFile /etc/pki/tls/certs/ca-bundle.crt
#<Proxy "balancer://php7.3.9">
#BalancerMember "unix:/var/run/php-fpm-7.3.9.sock|fcgi://php7.3.9"
#</Proxy>
#<FilesMatch \.php$>
#SetHandler "proxy:balancer://php7.3.9"
#</FilesMatch>
#</VirtualHost>
#
###
